<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>1-Opção</title>
	<link rel="stylesheet" href="Bancodigital.css">
</head>
<body background="IMG_2345.WEBP">
	<center>
	<h1>Digite a sua password</h1>
	<form action="LV.html">
		<label>PASSWORD:<br>
		<input type="password" name="PASSWORD" required><br>
		</label><br>
		<label>MONTANTE:<br>
		<input type="number" name="MONTANTE"required><br>
		</label><br>
		<button type="submit">OK</button><br>
		</form>
	</center>
</body>
</html>