<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2-Opção</title>
</head>
<body background="IMG_2345.WEBP">
	<center>
<form action="ok.html">
<label>IBAN:<br>
<input type="text" name="IBAN" required><br>
</label>
<label>Montante:<br>
<input type="number" name="Montante" required><br>
</label><br>
  <button type="submit">OK</button><br>
</form>
</center>

<style>
	button{
    border-radius: 15px;
	width: 15%;
	padding: 10px;
	background-color: gold;
}
</style>

</body>
</html>