<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Banco Digital</title>
	<link rel="stylesheet" href="Bancodigital.css">
	</head>
		<body background="IMG_2345.WEBP">
			<center>
			<h1>Seja bem vindo ao Ndala bank</h1>
   			 <form action="Links.html"> 	
  			<label>NOME:<br>
  			<input type="text" name="nome" required><br>
  			</label><br>
  			<label>PASSWORD:<br>
  			<input type="password" name="PASSWORD"required><br>
  			</label><br><br>
  			<button type="submit">ENTRAR</button><br>
  			</form><br>

			  <button><a href="CADASTRAR.html">CADASTRAR</a></button><br>
  			 </center>


		</body>
</html>