<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Escolher opções</title>
</head>
<body background="IMG_2345.WEBP">
	<center>
		<h1>Qual operação deseja realizar?</h1><br>
	
		
			<a href="1-opção.html">1-Levantamento sem cartão</a><br><br><br>
 			<a href="2-opção.html">2-Fazer transferência</a><br><br><br>
			<a href="3-opção.html">3-Consultar o saldo</a><br><br><br>
			<a href="PA.html">4-Pagamento ao estado</a><br><br><br>
				
</center>

<style>
	a{
    border-radius: 500px;
	padding: 10px;
	
	background-color: gold;
	color:  rgb(20, 65, 138);
	font-family: serif;
}

h1{
	color:  rgb(20, 65, 138);
}
</style>

</body>
</html>