<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento AO ESTADO</title>
</head>
<body background="IMG_2345.WEBP">
    <form action="ok.html">
		<center>
<label>REFERENCIA:<br>
<input type="password" name="REFERÊNCIA" required><br>
</label>
<label>Montante:<br>
<input type="number" name="Montante"required><br>
</label><br>
<button type="submit">OK</button><br>
  			</center>
</form>

<style>
	button{
    border-radius: 15px;
	width: 15%;
	padding: 10px;
	background-color: gold;
}
</style>
</body>
</html>